{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    
        <table>
            <thead>
                <tr>
                    <td>Catégorie</td>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            <a href="{{ path('show_category', {'id': category.id}) }}">{{category}}</a> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    
{% endblock %}
