{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{ category }}</h1>

    
        <table>
            <thead>
                <tr>
                    <td>Sujet</td>
                    <td>Auteur</td>
                </tr>
            </thead>
            <tbody>
                {% for topic in category.topics %}
                    <tr>
                        <td>{{topic}}</td>
                        <td>//</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    
{% endblock %}