{% extends 'base.html.twig' %}

{% block title %}{{ topic }}{% endblock %}

{% block body %}
    <h1>{{ topic }}</h1>

    
        <table>
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Auteur</th>
                </tr>
            </thead>
            <tbody>
                {% for post in topic.posts %}
                    <tr>
                        <td>{{post}}</td>
                        <td>{{ post.user }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    
{% endblock %}