{% extends 'base.html.twig' %}

{% block title %}Liste des sujets{% endblock %}

{% block body %}
    <h1>Liste des sujets</h1>

    
        <table>
            <thead>
                <tr>
                    <td>sujets</td>
                    <td>auteur</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for topic in topics %}
                        <td>{{topic.nomtopic}}</td>
                        <td>auteur</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    
{% endblock %}